<html>

<head>
    <title>buscar calificaciones</title>
</head>

<body>
    <h1>Busqueda calificaciones</h1>
    <form action="/buscar_calificacion_materia/" method="GET">
        <input type="text" name="materia" placeholder="ingrese nombre materia" autocomplete="off">
        <input type="submit" value="Buscar">
    </form>
    <form action="/buscar_calificacion_alumno/" method="GET">
        <input type="text" name="alumno" placeholder="ingrese nombre alumno" autocomplete="off">
        <input type="submit" value="Buscar">
    </form>
</body>

</html>