<html>
    <head>
        <title>Ingreso calificaciones</title>
    </head>
    <body>
        <h1>Ingreso nuevas calificaciones</h1>
        <form action="/nuevo_ingreso/">
            <input type="text" required placeholder="Nombre materia" name="materia" autocomplete="off">
            <input type="text" required placeholder="Nombre alumno" name="alumno" autocomplete="off">
            <input type="number" required placeholder="" name="cal1" max="10" min="0">
            <input type="number" required placeholder="" name="cal2" max="10" min="0">
            <input type="number" required placeholder="" name="cal3" max="10" min="0">
            <input type="submit" value="guardar">
        </form>
    </body>
</html>